main {
    width: 90%;
    margin: 20px auto 60px auto;
    padding: 20px;
    background-color: var(--quaternary-color);
    border: 5px solid var(--tertiary-color-dark);
}

#productListContainer {
    flex: 1.5;
}

#orderSummaryContainer {
    flex: 1;
}

#productList {
    justify-content: start;
    gap: 10px;
}

.product-list-item {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: auto;
    margin: auto;
    gap: 4px;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px 0;
    border-top: 1px solid var(--quaternary-color-dark);
    border-bottom: 1px solid var(--quaternary-color-dark);
}

.product-list-item > img {
    width: 150px;
    height: 150px;
    box-shadow: 3px 3px darkgray;
}

.product-list-item > input {
    width: 40px;
    height: 30px;
}

.product-list-item > div > button > svg {
    width: 20px;
    height: auto;
}

#orderSummary {
    padding: 20px;
    gap: 10px;
    background-color: var(--quaternary-color-dark);
    width: auto;
    min-height: 800px;
}

.order-summary-product-title {
    margin: 0;
}

#receiptContainer {
    background-image: url(./../../resources/images/backgrounds/order-sum-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 10px;
    min-height: 750px;
    max-height: 2015px;
    justify-content: space-between;
}

#productSums > div > div {
    margin-left: 20px;
    justify-content: space-between;
    width: 95%;
}

#orderSummaryBttnContainer {
    margin: 10px auto 0 auto;
    width: fit-content;
}

#finalCalculations > div {
    justify-content: space-between;
}