main {
    width: 85%;
    min-height: 1000px;
    margin: 20px auto 40px auto;
    padding: 20px;
    background-color: var(--quaternary-color);
    border-radius: 12px;
    justify-content: space-evenly;
    gap: 30px;
    overflow: hidden;
}

h2 {
    flex: 1;
}

#productImageGallery {
    width: 95%;
    min-height: 525px;
    padding: 10px;
    margin: auto;
    flex: auto;
    gap: 20px;
    background-color: var(--quaternary-color-dark);
}

#selectedImgDisplayContainer {
    flex: 3;
    position: relative;
}

#selectedImgDisplayContainer > img {
    object-fit: cover;
    width: 100%;
}

#selectedImgDisplayContainer > button {
    position: absolute;
    top: calc(50% - 100px);
}

#previousImage {
    left: 0;
}

#nextImage {
    right: 0;
}

#selectedImgDisplayContainer > button > svg { 
    height: 100px;
    width: 20px;
    padding: 0;
    background-color: rgba(var(--quaternary-color-light-vals), 0.5);
}

#imgGallery {
    flex: 1;
    gap: 20px;
    border: 4px solid var(--tertiary-color-dark);
    padding: 1px;
    overflow: hidden;
}

.gallery-image {
    width: 100%; 
    flex: 1;
    transition: all 100ms;
}

.gallery-image:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#productPrice {
    flex: 1;
}

#productButtonContainer {
    flex: 1;
    margin: auto;
    width: 50%;
    height: auto;
    justify-content: space-between;
}

#productButtonContainer > button > svg {
    height: auto;
    width: 40px;
}

#productInfo {
    flex: 3;
}

#productDescription {
    min-height: 200px;
    width: 70%;
    margin: auto;
}

#productSpecifications {
    min-height: 300px;
}

#productAllergenWarnings {
    min-height: 100px;
}