<%- include('./../partials/header') %>
<%- include('./../partials/nav') %>

<main>
    <div id="dataContainer">
        <div id="dataGrid">
            <p><b>ID</b></p>
            <p><b>Group ID</b></p>
            <p><b>Image Path</b></p>
            <p><b>Name</b></p>
            <p><b>Description</b></p>
            <p><b>Cost</b></p>
            <p><b>Options</b></p>
            <!--Example Product-->
            <div>0</div>
            <div>0</div>
            <div>./example</div>
            <div>Example Product</div>
            <div>Example description</div>
            <div>$0.00</div>
            <div class="option-container">
                <button><i class="fa-solid fa-pen"></i></button>
                <button><i class="fa-solid fa-box-archive"></i></button>
                <button><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>
    </div>
</main>

<%- include('./../partials/footer') %>