* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

:root {
    --primary-color: white;
    --secondary-color: black;
    --tertiary-color: grey;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/*Text Styling*/
.text-lg {
    font-size: 28px;
}

.text-md {
    font-size: 18px;
}

.text-sm {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

.header-lg {
    font-size: 32px;
    font-weight: bold;
}

.header-md {
    font-size: 24px;
    font-weight: bold;
}

.header-sm {
    font-size: 24px;
    font-weight: bold;
}

/*Containers*/
.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

/*Banner Styling*/
banner {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 40px;
    position: relative;
    justify-content: space-between;
    top: 0;
    left: 0;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    /* padding: 5px 0; */
}

.banner-logo {
    flex: 1;
}

.banner-title {
    flex: 2;
}

.banner-button-container {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner-button {
    height: auto;
    width: 100px;
    font-weight: bold;
    border: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.banner-button:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    transform: scale(1.5, 1.5);
}