* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

:root {
    /*Color Pallete*/
    --primary-color: #cad7e7;
    --primary-color-light: #c5d4e7;
    --primary-color-dark: #b8cde7;
    --secondary-color: #cd7234;
    --secondary-color-light: #cf8e63;
    --secondary-color-dark: #d05b0d;
    --tertiary-color: #9d8d26;
    --tertiary-color-light: #948c56;
    --tertiary-color-dark: #9c8806;

    /*Text Sizes*/
    --text-size-header-lg: 32px;
    --text-size-header-md: 24px;
    --text-size-header-sm: 20px;
    --text-size-lg: 28px;
    --text-size-md: 18px;
    --text-size-sm: 12px;

    /*Constant Element Sizes*/
    --banner-height: 40px;
    --footer-height: 60px;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--primary-color-dark);
}

/*Text Styling*/
.text-lg {
    font-size: var(--text-size-lg);
}

.text-md {
    font-size: var(--text-size-md);
}

.text-sm {
    font-size: var(--text-size-sm);
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.header-lg {
    font-size: var(--text-size-header-lg);
    font-weight: bold;
}

.header-md {
    font-size: var(--text-size-header-md);
    font-weight: bold;
}

.header-sm {
    font-size: var(--text-size-header-sm);
    font-weight: bold;
}

/*Containers*/
.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

div.center-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Banner Styling*/
banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: var(--banner-height);
    position: -webkit-sticky; /*Safari support*/
    position: fixed;
    top: 0;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    overflow: hidden;
    border-bottom: 1px solid var(--secondary-color-dark);
    padding: 0 10px;
    z-index: 10;
}

.banner-logo {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner-logo > img {
    width: auto;
    height: 100%;
}

.banner-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner-button-container {
    margin: 0 30px;
    flex: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.banner-button {
    height: auto;
    width: 100px;
    font-weight: bold;
    border: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.banner-button:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    transform: scale(1.5, 1.5);
}

/*Sections*/
main {
    position: relative;
    top: var(--banner-height);
    background-color: var(--primary-color-light);
    color: var(--secondary-color);
    min-height: calc(100vh - (var(--banner-height) + var(--footer-height)));
}

footer {
    height: var(--footer-height);
    width: 100%;
    border-top: 1px solid var(--secondary-color-dark);
    background-color: var(--primary-color-dark);
    color: var(--secondary-color-dark);
    position: relative;
    bottom: 0;
    z-index: 10;
}

/*Buttons*/
button {
    min-width: 80px;
    min-height: 30px;
    max-width: 400px;
    max-height: 150px;
    border-radius: 2px;
    border-style: solid;
}

button:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.button-max {
    width: 400px;
    height: 150px;
    border-width: 5px;
    font-size: var(--text-size-lg);
}

.button-lg {
    width: 200px;
    height: 75px;
    border-width: 5px;
    font-size: var(--text-size-md);
}

.button-md {
    width: 150px;
    height: 56.25px;
    border-width: 3.5px;
    font-size: var(--text-size-md);
}

.button-sm {
    width: 100px;
    height: 37.5px;
    border-width: 2px;
    font-size: var(--text-size-sm);
}

.button-min {
    width: 80px;
    height: 30px;
    border-width: 1.5px;
    font-size: var(--text-size-sm);
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.button-primary:hover {
    background-color: var(--primary-color-dark);
    color: var(--tertiary-color-dark);
    border-color: var(--tertiary-color-dark);
}

.button-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.button-secondary:hover {
    background-color: var(--secondary-color-dark);
    color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}