<footer>
    <div class="footer-container">
        <div class="flex-container-col text-sm" style="justify-content: end; height: 100%;">
            <pre>
Copyright Boxed Eats Inc. 2024.
Application designed by Ethan Moore, 2024.
            </pre>
        </div>
        <div style="align-self: center;" class="text-center">
            <a href="#">Back to Top</a>
        </div>
        <div style="justify-content: end;" class="flex-container-row">
            <!--Github Link-->
            <a class="no-dec icon-link footer-icon" target="_blank" href="https://github.com/emoore5931/CSC-372-Term-Project"><i class="fa-brands fa-github"></i></a>
            <!--Email Link-->
            <a class="no-dec icon-link footer-icon" target="_blank" href="mailto:emmoore4@uncg.edu"><i class="fa-solid fa-at"></i></a>
        </div>
    </div>
</footer>
</body>
</html>