<header>
    <nav id="navTop">
        <div class="banner-logo">
            <img src="/img/logos/boxed-eats-favicon-color.png" alt="Boxed Eats Logo"/>
        </div>
        <div class="banner-title header-md">Boxed Eats</div>
        <div class="banner-button-container">
            <button class="banner-button">
                <i class="fa-solid fa-house"></i>
            </button>
            <button class="banner-button">
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <button class="banner-button">
                <i class="fa-solid fa-user"></i>
            </button>
            <button id="extendNavButton" class="banner-button">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>
    <!--Secondary Navbar-->
    <nav id="navSide">
        <button id="dismissNavSide" class="icon-button">
            <i class="fa-solid fa-angles-right"></i>
        </button>
        <div id="navSideButtonContainer" class="flex-container-col">
            <button class="banner-button" id="cartNavBttn">Shopping Cart</button>
            <button class="banner-button" disabled>Sign Out</button>
        </div>
    </nav>
</header>