<header>
    <img src="/img/logos/logo-white-transparent.png">
    <h1><%= title %></h1>
</header>
<nav>
    <button>Product Listing</button>
    <button>Bulk Upload</button>
    <button>Sign Out</button>
</nav>