h2 {
    display: block;
    margin: 6px 0;
    background-color: var(--primary-color);
    border-radius: 8px;
    width: fit-content;
    padding: 15px; 
    margin: 5px auto 5px auto;
}

hr {
    border-color: white;
}

main {
    padding-bottom: 20px;
}

.searchbar-container {
    padding: 5px 0;
    height: auto;
}

.searchbar {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: fit-content;
    height: auto;
    background-color: transparent;
    border: 1px solid var(--tertiary-color);
    border-radius: 8px;
    padding: 2px;
}

.searchbar > input {
    border: none;
    border-radius: 4px;
    width: 400px;
}

.searchbar > input:focus {
    outline: none;
}

#cartIconBttn {
    position: absolute;
    top: 60px;
    right: 40px;
}

#cartIconBttn > svg {
    height: auto;
    width: 35px;
}

#featuredDeals {
    width: 90%;
    height: auto;
    padding: 16px;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: var(--background-color-secondary);
    border-color: var(--tertiary-color);
    border-radius: 4px;
    gap: 40px;
    box-shadow: 6px 4px darkgray;
}

#allKits {
    width: 90%;
    min-height: 800px;
    padding: 10px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: start;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-color-secondary);
    border-color: var(--tertiary-color);
    border-radius: 4px;
    gap: 20px;
    box-shadow: 8px 6px darkgray;
}

.paging-buttons {
    width: 90%;
    height: 40px;
    margin: auto;
    justify-content: end;
    gap: 5px;
}

.paging-buttons > button > svg {
    height: 25px;
    width: auto;
}

.product-card {
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--quaternary-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    overflow: hidden;
}

.product-card > img {
    flex: 4;
    width: auto;
    height: auto;
    object-fit: fill;
    overflow: hidden;
    background-color: var(--tertiary-color);
    padding: 2px;
    border-radius: 1px;
}

.product-card > h4 {
    flex: 1;
    margin: 0;
    text-align: center;
}

.product-card > div.flex-container-row {
    justify-content: end;
    flex: 1;
}

.product-card > div.flex-container-row > button > svg {
    height: 1.5em;
}

.product-card-lg {
    width: 240px;
    height: 260px;
    box-shadow: 8px 8px darkgray;
}

.product-card-md {
    width: 180px;
    height: 200px;
    box-shadow: 4px 4px darkgray;
}

/*Modal Styling*/
#productModalContainer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    transition: none;
    transform: scale(0);
}

#productModalContainer.display {
    transform: scale(1);
}

#productModal {
    position: relative;
    width: 75vw;
    height: 85vh;
    margin: auto;
    background-color: var(--background-color-secondary);
    border-radius: 12px;
    z-index: 12;
    overflow: hidden;
    padding: 15px;
    transition: all 350ms;
    transform: scale(0);
}

#productModal.display {
    transform: scale(1);
}

#productModal > div {
    height: 100%;
    width: 100%;
    gap: 10px;
}

#productModal > div > div {
    flex: 1;
    height: 100%;
}

#productModal > div > div > h2 {
    color: var(--primary-color);
    background-color: transparent;
}

#productImage {
    position: relative;
    top: -4px;
    object-fit: cover;
    height: 100%;
    flex: 1;
    background-color: var(--quaternary-color-dark);
    border: 4px solid var(--tertiary-color-dark);
}

#productName {
    flex: 1;
}

#productDesc {
    flex: 3;
    overflow-y: auto;
    overflow-x: hidden;
}

#productPrice {
    flex: 1;
}

#productModalButtonContainer {
    flex: 1;
    padding-bottom: 4px;
    justify-content: end;
    align-items: end;
    margin-right: 5px;
    gap: 10px;
}

#productModalButtonContainer > button{
    height: 40px;
} 

#productModalDismiss {
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
}