h2 {
    margin: 6px 0;
}

hr {
    /* border-image: linear-gradient(to right, transparent,white,white,white,white,transparent) 1; */
    border-color: white;
}

main {
    padding-bottom: 20px;
}

.searchbar-container {
    padding: 5px 0;
    height: auto;
}

.searchbar {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: fit-content;
    height: auto;
    background-color: white;
    border-radius: 4px;
    padding: 2px;
}

.searchbar > input {
    border: none;
    border-radius: 4px;
    width: 400px;
}

.searchbar > input:focus {
    outline: none;
}

#featuredDeals {
    width: 90%;
    height: auto;
    padding: 16px;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: var(--quatrenary-color);
    border-color: var(--tertiary-color-dark);
    border-radius: 4px;
    gap: 40px;
}

#allKits {
    width: 90%;
    min-height: 800px;
    padding: 10px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: start;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--quatrenary-color);
    border-color: var(--tertiary-color-dark);
    border-radius: 4px;
    gap: 20px;
}

.product-card {
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--tertiary-color-dark);
    background-color: var(--primary-color-light);
    overflow: hidden;
}

.product-card > img {
    flex: 4;
    width: auto;
    height: auto;
    object-fit: fill;
    overflow: hidden;
    background-color: var(--quatrenary-color-dark);
    padding: 2px;
    border-radius: 1px;
}

.product-card > h4 {
    flex: 1;
    margin: 0;
    text-align: center;
}

.product-card > div.flex-container-row {
    justify-content: end;
    flex: 1;
}

.product-card > div.flex-container-row > button > svg {
    height: 1.5em;
}

.product-card-lg {
    width: 240px;
    height: 260px;
    box-shadow: 8px 8px darkgray;
}

.product-card-md {
    width: 180px;
    height: 200px;
    box-shadow: 4px 4px darkgray;
}

/*Modal Styling*/
#productModalContainer {
    display: none; /*Script handling*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

#productModal {
    position: relative;
    width: 75vw;
    height: 85vh;
    margin: auto;
    background-color: var(--quatrenary-color-light);
    border-radius: 12px;
    z-index: 12;
    overflow: hidden;
    padding: 15px;
}

#productModal > div {
    height: 100%;
    width: 100%;
    gap: 10px;
}

#productModal > div > div {
    flex: 1;
    height: 100%;
}

#productImage {
    position: relative;
    top: -4px;
    object-fit: cover;
    height: 100%;
    flex: 1;
    background-color: var(--quatrenary-color-dark);
    border: 4px solid var(--tertiary-color-dark);
    /* border-bottom: 2px solid var(--tertiary-color-dark);
    border-left: 4px solid var(--tertiary-color-dark);
    border-right: 4px solid var(--tertiary-color-dark); */
}

#productName {
    flex: 1;
}

#productDesc {
    flex: 3;
    overflow-y: auto;
    overflow-x: hidden;
}

#productPrice {
    flex: 1;
}

#productModalButtonContainer {
    flex: 1;
    padding-bottom: 4px;
    justify-content: end;
    align-items: end;
    margin-right: 5px;
    gap: 10px;
}

#productModalButtonContainer > button{
    height: 40px;
} 

#productModalDismiss {
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
}